.cal {
    font-family: Arial, sans-serif;
    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .cal table {
    width: 80%;
    background-color: #f7f7f7;
    margin: auto;
    border-collapse: collapse;
  }

  .cal th, td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: center;
  }

  .cal th {
    background-color: #f2f2f2;
  }

  .cal td.empty {
    background-color: #f4f4f4;
  }