.cal {
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-left: 22.4rem;
  margin-right: 22.4rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

.cal table {
  width: 100%;
  margin: auto;
  background-color: white;
  border-collapse: collapse;

}

.cal th,
td {
  border: 1px solid #ccc;
  text-align: center;
  width: 25px;
  height: 25px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.cal td.empty {
  background-color: white;
  border: none;
}

.cal thead th {
  padding-left: 7px;
  padding-right: 7px;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.cal td.month {
  text-align: center;
}

.dark-mode .cal table {
  background-color: #5a5a5a;
}

.dark-mode .cal td.empty {
  background-color: #5a5a5a;
}

#calendar-body tr td.number:nth-of-type(7n+2),
#calendar-body tr td.number:nth-of-type(7n+8){ /* Para 'D' */
  background-color: #3e3e3e;
}

.legenda_calendario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.legenda_calendario ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}





@media (min-width: 768px) and (max-width: 1023px) {
  .cal {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
}