body {
	background: #f6f5f7;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  overflow: hidden;
}

.container_contact {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: auto;
  min-height: -webkit-fill-available;
  margin-top: 5rem;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    border-radius: 2%;
	display: inline-flex;
    padding: 1rem 1rem;
    border: black;
    width: 100%;
}

.input_corpo {
    border: none;
    border-radius: 2%;
	  display: inline-flex;
    padding: 7rem 1rem;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 1rem 1rem;
    margin: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

/* Dark Mode button */
.social-container {
    margin-bottom: 1rem;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 15%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/*toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Dark Mode */

  .dark-mode {
    background-color: #141414;
    color: white;
  }

  .dark-mode body {
	background: #141414;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.dark-mode form {
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.dark-mode input {
    background-color: #c2c2c2;
    border: none;
    border-radius: 2%;
	display: inline-flex;
    padding: 1rem 1rem;
    border: black;
    width: 100%;
}

.dark-mode .input_corpo {
    border: none;
    border-radius: 2%;
	display: inline-flex;
    padding: 7rem 1rem;
    width: 100%;
}