body {

  background:  #f6f5f7;

  background: #f6f5f7;
/* fa79059fc65690bdd6bee4501e89444759385f52 */
}

.container {
  background-color: #FFFFFF;
/* HEAD CHANGE */
	height: 100%;
	text-align: center;
	margin: 1rem;
	border-radius: 5%;
	border: none;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;

  height: 100%;
  text-align: center;
  margin: 1rem;
  border-radius: 5%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5%;
  border: none;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li:first-child {
  margin-right: auto;
}


/* Dark Mode button */
.social-container {
  margin: 1rem;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 15%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 20px;
  width: 20px;
}

/*toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.img_card {
  overflow: hidden;
  border: none;
  width: 35%;
  height: 55%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  margin: 2rem;
}

.p_1 {
  padding: 2rem;
  text-align: justify;
  margin: 2rem;
  line-height: 1.5;
  font-size: 15px;
}

/*container da imagem */
.img-container {
  display: flex;

}

.img-container p {
  margin-left: 10px;
}

.img-container img {
  margin-right: 10px;
}



/*Pagina de contacto */

.title {
  color: grey;
  font-size: 24px;
  text-align: center;
}

.title_2 {
  color: grey;
  font-size: 16px;
  text-align: center;
}

.button_contacto {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-size: 18px;
  border-radius: 5px;
  margin: 1rem;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button_contacto:hover,
a:hover {
  opacity: 0.7;
}

.input_campo {
  width: 95%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #555;
}



/* Dark mode*/

.dark-mode {
  background-color: #141414;
  color: white;
}

.dark-mode body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.dark-mode .p_1 {
  padding: 2rem;
  text-align: justify;
  color: white;

}

.dark-mode h1 {
  color: white;
}

.dark-mode .container {
  background-color: #444444;
  height: 100%;
  text-align: center;
  margin: 1rem;
  border-radius: 5%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
}

/* footer */

footer {
  color: #fff;
  font-size: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  padding: 5px;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
}

footer p {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;

}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}