.cal {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    overflow-x: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.cal table {
    width: 100%;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.cal th,
td {
    border: 1px solid #ccc;
    text-align: center;
    width: 25px;
    height: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.cal td.empty {
    background-color: white;
    border: none;
}

.cal thead th {
    padding-left: 7px;
    padding-right: 7px;
    background: #ff1c0c;
}

.cal td.month {
    text-align: center;
}

.dark-mode .cal table {
    background-color: #5a5a5a;
}

.dark-mode .cal td.empty {
    background-color: #5a5a5a;
}

.dark-mode #calendar-body-trimestral tr td.number:nth-of-type(7n+2),
.dark-mode #calendar-body-trimestral tr td.number:nth-of-type(7n+8) {
    /* Para 'D' */
    background-color: #3e3e3e;
}

.dark-mode #calendar-body-semestral tr td.number:nth-of-type(7n+2),
.dark-mode #calendar-body-semestral tr td.number:nth-of-type(7n+8) {
    /* Para 'D' */
    background-color: #3e3e3e;
}

#calendar-body-trimestral tr td.number:nth-of-type(7n+2),
#calendar-body-trimestral tr td.number:nth-of-type(7n+8) {
    /* Para 'D' */
    background-color: #A0A0A0;
}

#calendar-body-semestral tr td.number:nth-of-type(7n+2),
#calendar-body-semestral tr td.number:nth-of-type(7n+8) {
    /* Para 'D' */
    background-color: #A0A0A0;
}


/* Inicio Ano Letivo Licenciaturas,2º Ano Trimestral */

#Trimestral-Outubro-2-2023 {
    background-color: #16365c !important;
}

/* Inicio Ano Letivo Licenciaturas,1º Ano Trimestral */

#Trimestral-Outubro-3-2023 {
    background-color: #0070c0 !important;
}

/* Atividades AAIPS Trimestral */

#Trimestral-Outubro-12-2023,
#Trimestral-Maio-23-2023,
#Trimestral-Maio-24-2023 {
    background-color: #ff33cc !important;
    color: #333;
}


/* Exames de 1º e 2º Epoca Trimestral */

#Trimestral-Janeiro-8-2023,
#Trimestral-Janeiro-9-2023,
#Trimestral-Janeiro-10-2023,
#Trimestral-Janeiro-11-2023,
#Trimestral-Janeiro-12-2023,
#Trimestral-Janeiro-13-2023,
#Trimestral-Janeiro-15-2023,
#Trimestral-Janeiro-16-2023,
#Trimestral-Janeiro-17-2023,
#Trimestral-Janeiro-18-2023,
#Trimestral-Janeiro-19-2023,
#Trimestral-Janeiro-20-2023,
#Trimestral-Janeiro-31-2023,
#Trimestral-Abril-16-2023,
#Trimestral-Abril-17-2023,
#Trimestral-Abril-18-2023,
#Trimestral-Abril-19-2023,
#Trimestral-Abril-20-2023,
#Trimestral-Abril-21-2023,
#Trimestral-Abril-22-2023,
#Trimestral-Abril-23-2023,
#Trimestral-Abril-24-2023,
#Trimestral-Abril-25-2023,
#Trimestral-Abril-26-2023,
#Trimestral-Abril-27-2023,
#Trimestral-Abril-29-2023,
#Trimestral-Abril-30-2023,
#Trimestral-Julho-18-2023,
#Trimestral-Julho-19-2023,
#Trimestral-Julho-20-2023,
#Trimestral-Julho-21-2023,
#Trimestral-Julho-22-2023,
#Trimestral-Julho-23-2023,
#Trimestral-Julho-24-2023,
#Trimestral-Julho-25-2023,
#Trimestral-Julho-26-2023,
#Trimestral-Julho-27-2023,
#Trimestral-Julho-29-2023,
#Trimestral-Julho-30-2023,
#Trimestral-Julho-31-2023 {
    background-color: #fde9d9 !important;
    color: #333;
}


/* Epoca Especial Trimestral */

#Trimestral-Setembro-2-2024,
#Trimestral-Setembro-3-2024,
#Trimestral-Setembro-4-2024,
#Trimestral-Setembro-5-2024,
#Trimestral-Setembro-6-2024,
#Trimestral-Setembro-7-2024,
#Trimestral-Setembro-9-2024,
#Trimestral-Setembro-10-2024,
#Trimestral-Setembro-11-2024,
#Trimestral-Setembro-12-2024,
#Trimestral-Setembro-13-2024,
#Trimestral-Setembro-14-2024,
#Trimestral-Setembro-16-2024,
#Trimestral-Setembro-17-2024 {
    background-color: #e26b0a !important;
    color: #333;
}


/* Atividades Letivas Trimestral */

#Trimestral-Outubro-4-2023,
#Trimestral-Outubro-6-2023,
#Trimestral-Outubro-10-2023,
#Trimestral-Outubro-11-2023,
#Trimestral-Outubro-9-2023,
#Trimestral-Outubro-13-2023,
#Trimestral-Outubro-16-2023,
#Trimestral-Outubro-17-2023,
#Trimestral-Outubro-18-2023,
#Trimestral-Outubro-19-2023,
#Trimestral-Outubro-20-2023,
#Trimestral-Outubro-23-2023,
#Trimestral-Outubro-24-2023,
#Trimestral-Outubro-25-2023,
#Trimestral-Outubro-26-2023,
#Trimestral-Outubro-27-2023,
#Trimestral-Outubro-30-2023,
#Trimestral-Outubro-31-2023,
#Trimestral-Novembro-2-2023,
#Trimestral-Novembro-3-2023,
#Trimestral-Novembro-6-2023,
#Trimestral-Novembro-7-2023,
#Trimestral-Novembro-8-2023,
#Trimestral-Novembro-9-2023,
#Trimestral-Novembro-10-2023,
#Trimestral-Novembro-13-2023,
#Trimestral-Novembro-14-2023,
#Trimestral-Novembro-15-2023,
#Trimestral-Novembro-16-2023,
#Trimestral-Novembro-17-2023,
#Trimestral-Novembro-20-2023,
#Trimestral-Novembro-21-2023,
#Trimestral-Novembro-22-2023,
#Trimestral-Novembro-23-2023,
#Trimestral-Novembro-24-2023,
#Trimestral-Novembro-27-2023,
#Trimestral-Novembro-28-2023,
#Trimestral-Novembro-29-2023,
#Trimestral-Novembro-30-2023,
#Trimestral-Dezembro-1-2023,
#Trimestral-Dezembro-4-2023,
#Trimestral-Dezembro-5-2023,
#Trimestral-Dezembro-6-2023,
#Trimestral-Dezembro-7-2023,
#Trimestral-Dezembro-11-2023,
#Trimestral-Dezembro-12-2023,
#Trimestral-Dezembro-13-2023,
#Trimestral-Dezembro-14-2023,
#Trimestral-Dezembro-15-2023,
#Trimestral-Dezembro-18-2023,
#Trimestral-Dezembro-19-2023,
#Trimestral-Dezembro-20-2023,
#Trimestral-Dezembro-21-2023,
#Trimestral-Janeiro-3-2023,
#Trimestral-Janeiro-4-2023,
#Trimestral-Janeiro-5-2023,
#Trimestral-Janeiro-22-2023,
#Trimestral-Janeiro-23-2023,
#Trimestral-Janeiro-24-2023,
#Trimestral-Janeiro-25-2023,
#Trimestral-Janeiro-26-2023,
#Trimestral-Janeiro-29-2023,
#Trimestral-Janeiro-30-2023,
#Trimestral-Janeiro-31-2023,
#Trimestral-Fevereiro-1-2023,
#Trimestral-Fevereiro-2-2023,
#Trimestral-Fevereiro-5-2023,
#Trimestral-Fevereiro-6-2023,
#Trimestral-Fevereiro-7-2023,
#Trimestral-Fevereiro-8-2023,
#Trimestral-Fevereiro-9-2023,
#Trimestral-Fevereiro-12-2023,
#Trimestral-Fevereiro-13-2023,
#Trimestral-Fevereiro-14-2023,
#Trimestral-Fevereiro-15-2023,
#Trimestral-Fevereiro-16-2023,
#Trimestral-Fevereiro-19-2023,
#Trimestral-Fevereiro-20-2023,
#Trimestral-Fevereiro-21-2023,
#Trimestral-Fevereiro-22-2023,
#Trimestral-Fevereiro-23-2023,
#Trimestral-Fevereiro-26-2023,
#Trimestral-Fevereiro-27-2023,
#Trimestral-Fevereiro-28-2023,
#Trimestral-Fevereiro-29-2023,
#Trimestral-Março-1-2023,
#Trimestral-Março-4-2023,
#Trimestral-Março-5-2023,
#Trimestral-Março-6-2023,
#Trimestral-Março-7-2023,
#Trimestral-Março-8-2023,
#Trimestral-Março-11-2023,
#Trimestral-Março-12-2023,
#Trimestral-Março-13-2023,
#Trimestral-Março-14-2023,
#Trimestral-Março-15-2023,
#Trimestral-Março-18-2023,
#Trimestral-Março-19-2023,
#Trimestral-Março-20-2023,
#Trimestral-Março-21-2023,
#Trimestral-Março-22-2023,
#Trimestral-Abril-2-2023,
#Trimestral-Abril-3-2023,
#Trimestral-Abril-4-2023,
#Trimestral-Abril-5-2023,
#Trimestral-Abril-8-2023,
#Trimestral-Abril-9-2023,
#Trimestral-Abril-10-2023,
#Trimestral-Abril-11-2023,
#Trimestral-Abril-12-2023,
#Trimestral-Maio-2-2023,
#Trimestral-Maio-3-2023,
#Trimestral-Maio-6-2023,
#Trimestral-Maio-7-2023,
#Trimestral-Maio-8-2023,
#Trimestral-Maio-9-2023,
#Trimestral-Maio-10-2023,
#Trimestral-Maio-13-2023,
#Trimestral-Maio-14-2023,
#Trimestral-Maio-15-2023,
#Trimestral-Maio-16-2023,
#Trimestral-Maio-17-2023,
#Trimestral-Maio-20-2023,
#Trimestral-Maio-21-2023,
#Trimestral-Maio-22-2023,
#Trimestral-Maio-27-2023,
#Trimestral-Maio-28-2023,
#Trimestral-Maio-29-2023,
#Trimestral-Maio-31-2023,
#Trimestral-Junho-3-2023,
#Trimestral-Junho-4-2023,
#Trimestral-Junho-5-2023,
#Trimestral-Junho-6-2023,
#Trimestral-Junho-7-2023,
#Trimestral-Junho-11-2023,
#Trimestral-Junho-12-2023,
#Trimestral-Junho-13-2023,
#Trimestral-Junho-14-2023,
#Trimestral-Junho-17-2023,
#Trimestral-Junho-18-2023,
#Trimestral-Junho-19-2023,
#Trimestral-Junho-20-2023,
#Trimestral-Junho-21-2023,
#Trimestral-Junho-24-2023,
#Trimestral-Junho-25-2023,
#Trimestral-Junho-26-2023,
#Trimestral-Junho-27-2023,
#Trimestral-Junho-28-2023,
#Trimestral-Julho-1-2023,
#Trimestral-Julho-2-2023,
#Trimestral-Julho-3-2023,
#Trimestral-Julho-4-2023,
#Trimestral-Julho-5-2023,
#Trimestral-Julho-8-2023,
#Trimestral-Julho-9-2023,
#Trimestral-Julho-10-2023,
#Trimestral-Julho-11-2023,
#Trimestral-Julho-12-2023,
#Trimestral-Julho-15-2023,
#Trimestral-Julho-16-2023 {
    background-color: #92cddc !important;
    color: #333;
}


/* Férias e feriados Trimestral */

#Trimestral-Setembro-15-2023,
#Trimestral-Outubro-5-2023,
#Trimestral-Novembro-1-2023,
#Trimestral-Dezembro-1-2023,
#Trimestral-Dezembro-8-2023,
#Trimestral-Dezembro-22-2023,
#Trimestral-Dezembro-25-2023,
#Trimestral-Dezembro-26-2023,
#Trimestral-Dezembro-27-2023,
#Trimestral-Dezembro-28-2023,
#Trimestral-Dezembro-29-2023,
#Trimestral-Janeiro-1-2023,
#Trimestral-Janeiro-2-2023,
#Trimestral-Fevereiro-13-2023,
#Trimestral-Março-25-2023,
#Trimestral-Março-26-2023,
#Trimestral-Março-27-2023,
#Trimestral-Março-28-2023,
#Trimestral-Março-29-2023,
#Trimestral-Abril-1-2023,
#Trimestral-Abril-25-2023,
#Trimestral-Maio-1-2023,
#Trimestral-Maio-30-2023,
#Trimestral-Junho-10-2023,
#Trimestral-Agosto-1-2023,
#Trimestral-Agosto-2-2023,
#Trimestral-Agosto-5-2023,
#Trimestral-Agosto-6-2023,
#Trimestral-Agosto-7-2023,
#Trimestral-Agosto-8-2023,
#Trimestral-Agosto-9-2023,
#Trimestral-Agosto-12-2023,
#Trimestral-Agosto-13-2023,
#Trimestral-Agosto-14-2023,
#Trimestral-Agosto-15-2023,
#Trimestral-Agosto-16-2023,
#Trimestral-Agosto-19-2023,
#Trimestral-Agosto-20-2023,
#Trimestral-Agosto-21-2023,
#Trimestral-Agosto-22-2023,
#Trimestral-Agosto-23-2023,
#Trimestral-Agosto-26-2023,
#Trimestral-Agosto-27-2023,
#Trimestral-Agosto-28-2023,
#Trimestral-Agosto-29-2023,
#Trimestral-Agosto-30-2023,
#Trimestral-Setembro-15-2024 {
    background-color: #92d050 !important;
    color: #333;
}


/* Prazo Final Entrega de Livros Trimestral */

#Trimestral-Janeiro-16-2023,
#Trimestral-Janeiro-24-2023,
#Trimestral-Abril-23-2023,
#Trimestral-Maio-3-2023,
#Trimestral-Julho-25-2023,
#Trimestral-Agosto-2-2023,
#Trimestral-Setembro-19-2024 {
    border: #ffc000 3px solid;
}


/* Data limite de afixação de pautas Trimestral */

#Trimestral-Janeiro-15-2023,
#Trimestral-Janeiro-23-2023,
#Trimestral-Abril-22-2023,
#Trimestral-Maio-2-2023,
#Trimestral-Julho-24-2023,
#Trimestral-Agosto-1-2023,
#Trimestral-Setembro-18-2024 {
    border: #00b0f0 3px solid;
}

/* //////////////////////////////////////////////////////////////////////////////// */

/* Inicio Ano Letivo Licenciaturas,2º Ano Semestral */

#Semestral-Outubro-2-2023
 {
    background-color: #16365c !important;
}

/* Inicio Ano Letivo Licenciaturas,1º Ano Semestral */

#Semestral-Outubro-9-2023 {
    background-color: #0070c0 !important;
}

/* Atividades AAIPS Semestral */

#Semestral-Outubro-12-2023,
#Semestral-Maio-23-2023,
#Semestral-Maio-24-2023
 {
    background-color: #ff33cc !important;
    color: #333;
}


/* Exames de 1º e 2º Epoca Semestral */

#Semestral-Janeiro-31-2023,
#Semestral-Fevereiro-1-2023,
#Semestral-Fevereiro-2-2023,
#Semestral-Fevereiro-3-2023,
#Semestral-Fevereiro-4-2023,
#Semestral-Fevereiro-5-2023,
#Semestral-Fevereiro-6-2023,
#Semestral-Fevereiro-7-2023,
#Semestral-Fevereiro-8-2023,
#Semestral-Fevereiro-9-2023,
#Semestral-Fevereiro-10-2023,
#Semestral-Fevereiro-12-2023,
#Semestral-Fevereiro-14-2023,
#Semestral-Fevereiro-15-2023,
#Semestral-Fevereiro-16-2023,
#Semestral-Fevereiro-17-2023,
#Semestral-Fevereiro-19-2023,
#Semestral-Fevereiro-21-2023,
#Semestral-Fevereiro-22-2023,
#Semestral-Fevereiro-23-2023,
#Semestral-Fevereiro-24-2023,
#Semestral-Fevereiro-26-2023,
#Semestral-Fevereiro-27-2023,
#Semestral-Fevereiro-28-2023,
#Semestral-Fevereiro-29-2023,
#Semestral-Julho-1-2023,
#Semestral-Julho-2-2023,
#Semestral-Julho-3-2023,
#Semestral-Julho-4-2023,
#Semestral-Julho-5-2023,
#Semestral-Julho-6-2023,
#Semestral-Julho-7-2023,
#Semestral-Julho-8-2023,
#Semestral-Julho-9-2023,
#Semestral-Julho-10-2023,
#Semestral-Julho-11-2023,
#Semestral-Julho-12-2023,
#Semestral-Julho-13-2023,
#Semestral-Julho-15-2023,
#Semestral-Julho-16-2023,
#Semestral-Julho-17-2023,
#Semestral-Julho-18-2023,
#Semestral-Julho-19-2023,
#Semestral-Julho-20-2023,
#Semestral-Julho-22-2023,
#Semestral-Julho-23-2023,
#Semestral-Julho-24-2023,
#Semestral-Julho-25-2023,
#Semestral-Julho-26-2023,
#Semestral-Julho-27-2023
 {
    background-color: #fde9d9 !important;
    color: #333;
}

/* Epoca Especial Semestral */

#Semestral-Setembro-2-2024,
#Semestral-Setembro-3-2024,
#Semestral-Setembro-4-2024,
#Semestral-Setembro-5-2024,
#Semestral-Setembro-6-2024,
#Semestral-Setembro-7-2024,
#Semestral-Setembro-9-2024,
#Semestral-Setembro-10-2024,
#Semestral-Setembro-11-2024,
#Semestral-Setembro-12-2024,
#Semestral-Setembro-13-2024,
#Semestral-Setembro-14-2024,
#Semestral-Setembro-16-2024,
#Semestral-Setembro-17-2024
 {
    background-color: #e26b0a !important;
    color: #333;
}

/* Atividades Letivas Semestral */

#Semestral-Outubro-3-2023,
#Semestral-Outubro-4-2023,
#Semestral-Outubro-6-2023,
#Semestral-Outubro-7-2023,
#Semestral-Outubro-10-2023,
#Semestral-Outubro-11-2023,
#Semestral-Outubro-13-2023,
#Semestral-Outubro-16-2023,
#Semestral-Outubro-17-2023,
#Semestral-Outubro-18-2023,
#Semestral-Outubro-19-2023,
#Semestral-Outubro-20-2023,
#Semestral-Outubro-23-2023,
#Semestral-Outubro-24-2023,
#Semestral-Outubro-25-2023,
#Semestral-Outubro-26-2023,
#Semestral-Outubro-27-2023,
#Semestral-Outubro-30-2023,
#Semestral-Outubro-31-2023,
#Semestral-Novembro-2-2023,
#Semestral-Novembro-3-2023,
#Semestral-Novembro-6-2023,
#Semestral-Novembro-7-2023,
#Semestral-Novembro-8-2023,
#Semestral-Novembro-9-2023,
#Semestral-Novembro-10-2023,
#Semestral-Novembro-13-2023,
#Semestral-Novembro-14-2023,
#Semestral-Novembro-15-2023,
#Semestral-Novembro-16-2023,
#Semestral-Novembro-17-2023,
#Semestral-Novembro-20-2023,
#Semestral-Novembro-21-2023,
#Semestral-Novembro-22-2023,
#Semestral-Novembro-23-2023,
#Semestral-Novembro-24-2023,
#Semestral-Novembro-27-2023,
#Semestral-Novembro-28-2023,
#Semestral-Novembro-29-2023,
#Semestral-Novembro-30-2023,
#Semestral-Dezembro-4-2023,
#Semestral-Dezembro-5-2023,
#Semestral-Dezembro-6-2023,
#Semestral-Dezembro-7-2023,
#Semestral-Dezembro-11-2023,
#Semestral-Dezembro-12-2023,
#Semestral-Dezembro-13-2023,
#Semestral-Dezembro-14-2023,
#Semestral-Dezembro-15-2023,
#Semestral-Dezembro-18-2023,
#Semestral-Dezembro-19-2023,
#Semestral-Dezembro-20-2023,
#Semestral-Dezembro-21-2023,
#Semestral-Janeiro-3-2023,
#Semestral-Janeiro-4-2023,
#Semestral-Janeiro-5-2023,
#Semestral-Janeiro-8-2023,
#Semestral-Janeiro-9-2023,
#Semestral-Janeiro-10-2023,
#Semestral-Janeiro-11-2023,
#Semestral-Janeiro-12-2023,
#Semestral-Janeiro-15-2023,
#Semestral-Janeiro-16-2023,
#Semestral-Janeiro-17-2023,
#Semestral-Janeiro-18-2023,
#Semestral-Janeiro-19-2023,
#Semestral-Janeiro-22-2023,
#Semestral-Janeiro-23-2023,
#Semestral-Janeiro-24-2023,
#Semestral-Janeiro-25-2023,
#Semestral-Janeiro-26-2023,
#Semestral-Março-4-2023,
#Semestral-Março-5-2023,
#Semestral-Março-6-2023,
#Semestral-Março-7-2023,
#Semestral-Março-8-2023,
#Semestral-Março-11-2023,
#Semestral-Março-12-2023,
#Semestral-Março-13-2023,
#Semestral-Março-14-2023,
#Semestral-Março-15-2023,
#Semestral-Março-18-2023,
#Semestral-Março-19-2023,
#Semestral-Março-20-2023,
#Semestral-Março-21-2023,
#Semestral-Março-22-2023,
#Semestral-Abril-2-2023,
#Semestral-Abril-3-2023,
#Semestral-Abril-4-2023,
#Semestral-Abril-5-2023,
#Semestral-Abril-8-2023,
#Semestral-Abril-9-2023,
#Semestral-Abril-10-2023,
#Semestral-Abril-11-2023,
#Semestral-Abril-12-2023,
#Semestral-Abril-15-2023,
#Semestral-Abril-16-2023,
#Semestral-Abril-17-2023,
#Semestral-Abril-18-2023,
#Semestral-Abril-19-2023,
#Semestral-Abril-22-2023,
#Semestral-Abril-23-2023,
#Semestral-Abril-24-2023,
#Semestral-Abril-26-2023,
#Semestral-Abril-29-2023,
#Semestral-Abril-30-2023,
#Semestral-Maio-2-2023,
#Semestral-Maio-3-2023,
#Semestral-Maio-6-2023,
#Semestral-Maio-7-2023,
#Semestral-Maio-8-2023,
#Semestral-Maio-9-2023,
#Semestral-Maio-10-2023,
#Semestral-Maio-13-2023,
#Semestral-Maio-14-2023,
#Semestral-Maio-15-2023,
#Semestral-Maio-16-2023,
#Semestral-Maio-17-2023,
#Semestral-Maio-20-2023,
#Semestral-Maio-21-2023,
#Semestral-Maio-22-2023,
#Semestral-Maio-27-2023,
#Semestral-Maio-28-2023,
#Semestral-Maio-29-2023,
#Semestral-Maio-31-2023,
#Semestral-Junho-3-2023,
#Semestral-Junho-4-2023,
#Semestral-Junho-5-2023,
#Semestral-Junho-6-2023,
#Semestral-Junho-7-2023,
#Semestral-Junho-11-2023,
#Semestral-Junho-12-2023,
#Semestral-Junho-13-2023,
#Semestral-Junho-14-2023,
#Semestral-Junho-17-2023,
#Semestral-Junho-18-2023,
#Semestral-Junho-19-2023,
#Semestral-Junho-20-2023,
#Semestral-Junho-21-2023,
#Semestral-Junho-24-2023,
#Semestral-Junho-25-2023,
#Semestral-Junho-26-2023,
#Semestral-Junho-27-2023
{
    background-color: #92cddc !important;
    color: #333;
}


/* Férias e feriados Semestral */

#Semestral-Setembro-15-2023,
#Semestral-Outubro-5-2023,
#Semestral-Novembro-1-2023,
#Semestral-Dezembro-1-2023,
#Semestral-Dezembro-8-2023,
#Semestral-Dezembro-22-2023,
#Semestral-Dezembro-25-2023,
#Semestral-Dezembro-26-2023,
#Semestral-Dezembro-27-2023,
#Semestral-Dezembro-28-2023,
#Semestral-Dezembro-29-2023,
#Semestral-Janeiro-1-2023,
#Semestral-Janeiro-2-2023,
#Semestral-Fevereiro-13-2023,
#Semestral-Março-25-2023,
#Semestral-Março-26-2023,
#Semestral-Março-27-2023,
#Semestral-Março-28-2023,
#Semestral-Março-29-2023,
#Semestral-Abril-1-2023,
#Semestral-Abril-25-2023,
#Semestral-Maio-1-2023,
#Semestral-Maio-30-2023,
#Semestral-Junho-10-2023,
#Semestral-Agosto-1-2023,
#Semestral-Agosto-2-2023,
#Semestral-Agosto-5-2023,
#Semestral-Agosto-6-2023,
#Semestral-Agosto-7-2023,
#Semestral-Agosto-8-2023,
#Semestral-Agosto-9-2023,
#Semestral-Agosto-12-2023,
#Semestral-Agosto-13-2023,
#Semestral-Agosto-14-2023,
#Semestral-Agosto-15-2023,
#Semestral-Agosto-16-2023,
#Semestral-Agosto-19-2023,
#Semestral-Agosto-20-2023,
#Semestral-Agosto-21-2023,
#Semestral-Agosto-22-2023,
#Semestral-Agosto-23-2023,
#Semestral-Agosto-26-2023,
#Semestral-Agosto-27-2023,
#Semestral-Agosto-28-2023,
#Semestral-Agosto-29-2023,
#Semestral-Agosto-30-2023,
#Semestral-Setembro-15-2024
 {
    background-color: #92d050 !important;
    color: #333;
}


/* Prazo Final Entrega de Livros Semestral */

#Semestral-Fevereiro-15-2023,
#Semestral-Março-4-2023,
#Semestral-Julho-13-2023,
#Semestral-Julho-31-2023,
#Semestral-Setembro-19-2024
{
    border: #ffc000 3px solid;
}


/* Data limite de afixação de pautas Semestral */

#Semestral-Fevereiro-13-2023,
#Semestral-Fevereiro-29-2023,
#Semestral-Julho-11-2023,
#Semestral-Julho-29-2023,
#Semestral-Setembro-18-2024 {
    border: #00b0f0 3px solid;
}



.legenda_calendario {
    display: flex;
    margin-bottom: 5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 60%;
    position: relative;
    left: 20%;
    padding: 1rem;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid #ff1c0c;
}

.legenda_calendario ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: #FFFFFF !important;
    overflow: visible !important;
}

.dark-mode .legenda_calendario ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    align-items: left;
    background: #444444 !important;
    display: flex;
}

.legenda_calendario li {
    text-align: left;
    margin-bottom: 0.5rem;
    width: 100%;
}

.vertical_line {
    border-left: 2px solid #ff1c0c;
    height: 85%;
    position: absolute;
    left: 49%;
}

.column {
    flex: 1;
    padding: 0 10px;
}

.rectangle1 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #16365c;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle2 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #0070c0;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle3 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #92cddc;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle4 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #92d050;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle5 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #ff33cc;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle6 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #963634;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle7 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #7030a0;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle8 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #fde9d9;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle9 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #e26b0a;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle10 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: white;
    /* Specify the background color of the rectangle */
    border: 2px solid #00b0f0;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle11 {
    width: 22px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: white;
    /* Specify the background color of the rectangle */
    border: 2px solid #ffc000;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.dark-mode .rectangle10 {
    width: 20px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #5a5a5a;
    /* Specify the background color of the rectangle */
    border: 2px solid #00b0f0;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.dark-mode .rectangle11 {
    width: 20px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #5a5a5a;
    /* Specify the background color of the rectangle */
    border: 2px solid #ffc000;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cal {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .rectangle1 {
        width: 30px;
        height: 16px;
    }

    .rectangle2 {
        width: 30px;
        height: 16px;
    }

    .rectangle3 {
        width: 30px;
        height: 16px;
    }

    .rectangle4 {
        width: 30px;
        height: 16px;
    }

    .rectangle5 {
        width: 30px;
        height: 16px;
    }

    .rectangle6 {
        width: 30px;
        height: 16px;
    }

    .rectangle7 {
        width: 30px;
        height: 16px;
    }

    .rectangle8 {
        width: 30px;
        height: 16px;
    }

    .rectangle9 {
        width: 30px;
        height: 16px;
    }

    .rectangle10 {
        width: 30px;
        height: 16px;
    }

    .rectangle11 {
        width: 30px;
        height: 16px;
    }

    .dark-mode .rectangle10 {
        width: 30px;
        height: 16px;
    }

    .dark-mode .rectangle11 {
        width: 30px;
        height: 16px;
    }
}