body {
    background: #f6f5f7;
}

.title {
    color: black;
    font-size: 24px;
    text-align: center;
}

/*css da imagem */
.img_card {
    width: 85%;
    height: 55%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    margin-left: 2rem;
    margin-top: 1.8rem;
    margin-bottom: 3rem;
}

.img-container {
    display: flex;
}

.img-container p {
    margin-left: 10px;
}

.img-container img {
    margin-right: 10px;
}

.p_1 {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 2rem;
    text-align: justify !important;
    line-height: 1.5;
    font-size: 1.16rem;
}

.dark-mode .p_1 {
    color: white;
}

.sidebar li{
    margin: 0px;
}

@media (min-width: 1281px) and (max-width: 1600px){
    .sidebar {
        margin-top: 1.4rem !important;
    }

    .legenda_calendario {
        width: 59% !important;
        padding: 0.5rem !important;
    }

    .rectangle1 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle2 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle3 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle4 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle5 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle6 {
        width: 24px;
        left: 0.7%;
    }

    .rectangle7 {
        width: 24px !important;
        left: 49.7%;
    }

    .rectangle8 {
        width: 24px !important;
        left: 49.7%;
    }
    
    .rectangle9 {
        width: 24px !important;
        left: 49.7%;
    }

    .rectangle10 {
        width: 24px !important;
        left: 49.7%;
    }

    .rectangle11 {
        width: 24px !important;
        left: 49.7%;
    }

    .sidebar li a {
        font-size: 19px;
    }

    .sidebar li {
        padding: 1px !important;
        margin-left: 15px;
    }
}


/* media query para deixar o site responsivo para tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .legenda_calendario {
        width: 80% !important;
        position: unset !important;
        margin-left: 66px !important;
        margin-bottom: 100px !important;
    }

    .legenda_calendario li {
        font-size: 20px;
    }

    .img-container img {
        display: none;
    }

    .sidebar {
        width: 20% !important;
        margin-top: 5.4rem !important;
    }

    .profile_info {
        width: 30%;
    }

    .profile_settings {
        width: 15%;
    }

    .flex-container {
        margin-top: 15rem;
        margin-left: 15rem;
        margin-right: 0;
        width: 57%;
        height: 42%;
    }

    .vertical_line {
        height: 22% !important;
        left: 51% !important;
    }
}


/* media query para deixar o site responsivo para mobile */
@media (min-width: 320px) and (max-width: 480px) {

    .img-container img {
        display: none;
    }

    li {
        width: 90px;
    }

    .p_1 {
        display: none;
    }

    .legenda {
        width: 100%;
        margin: 5px 0 5px;
    }

    .legenda_calendario {
        width: 80% !important;
        position: unset !important;
        margin-left: 18px !important;
        margin-bottom: 100px !important;
    }

    .sidebar {
        width: 48% !important;
        height: 20% !important;
        margin-right: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .blocos {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #444444 !important;
    }

    .sidebar li a {
        text-align: center;
    }

    .blocos_li {
        width: 100%;
        margin-bottom: 23px;
    }

    h1 {
        font-size: 20px;
        margin-top: 5%;
    }

    .title {
        font-size: 15px;
    }

    .vertical_line {
        height: 27% !important;
    }
}