.title_2 {
    color: black;
    font-size: 16px;
    text-align: center;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 15%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 20px;
    width: 20px;
}

.opacityonhover:hover {
    opacity: 0.5;
}

/* toggle switch */

.switch {
    position: relative;
    width: 45px;
    height: 20px;
}

.switch_profile {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* Estilos para o slider  */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    background-image: url("../img/light_mode.png");
    background-size: 50%;
    background-position: right 25% center;
    background-repeat: no-repeat;
    -webkit-transition: .4s;
    transition: .4s;
}


/* Estilos para o slider:before */

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
}


/* Estilos para input:checked+.slider */

input:checked+.slider {
    background-color: #0f4067;
    background-image: url("../img/dark_mode.png");
    background-size: 40%;
    background-position: left 25% center;
    background-repeat: no-repeat;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders  */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.container_profile {
    background-color: #FFFFFF;
    height: 95%;
    width: 80%;
    text-align: center;
    margin: 1rem;
    border-radius: 5%;
    border: none;
    border-radius: 35px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    position: absolute;
    top: 49%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.profile_info {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    height: 100%;
    width: 22%;
    border-radius: 5px;
    overflow: hidden;
}

.profile_settings {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    top: 61%;
    left: 7.2%;
    height: 27%;
    width: 7%;
    border-radius: 50px;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: rgb(255, 255, 255)3px solid;
}


.legenda_profile {
    position: absolute;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 11%;
    left: 78rem;
    bottom: 21rem;
    padding: 1rem;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid #ff1c0c;
}

.legenda_profile ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: #FFFFFF !important;
    overflow: visible !important;
}

.legenda_profile li {
    text-align: left;
    margin-bottom: 0.3rem;
}

.rectangle1 {
    width: 20px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #16365c;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.rectangle2 {
    width: 20px;
    /* Specify the width of the rectangle */
    height: 10px;
    /* Specify the height of the rectangle */
    background-color: #0070c0;
    /* Specify the background color of the rectangle */
    border: 2px solid black;
    /* Specify the border color and thickness */
    position: absolute;
    margin-top: 0.1rem;
}

.email-table {
    display: block;
    height: 32vh;
    overflow: auto;
}

.invisible_box {
    border: none;
    width: 5%;
}

.email_mensagem {
    width: 25%;
}

/* Alunos Page */
.table_alunos {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7em;
    line-height: 2.1;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 10px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    border: 1px solid #ccc;
    width: 10%;
}

.flex-container {
    align-items: center;
    font-family: Arial, sans-serif;
    display: flex;
    margin-top: 4rem;
    margin-left: 25rem;
    margin-right: 6rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/* Dark mode*/
.dark-mode .legenda_profile ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: #444444 !important;
}

.dark-mode .container_profile {
    background-color: #444444;
}

.dark-mode .profile_info {
    border-right: #1a1a1a 3px solid;
}

.dark-mode .profile_settings {
    border: #1a1a1a 3px solid;
}

.dark-mode .title_2 {
    color: white;
}

@media (min-width: 1281px) and (max-width: 1600px) {
    h1 {
        font-size: 25px;
    }

    .img_perfil {
        width: 60% !important;
    }

    .title {
        font-size: 14px;
    }

    .title_2 {
        font-size: 14px;
    }

    .profile_settings {
        top: 62%;
    }

    .img_settings {
        width: 75%;
        height: 75%;
    }

    .switch_profile {
        height: 30px;
    }

    .slider:before {
        height: 15px;
        width: 15px;
        left: 1px;
        bottom: 8px;
    }

    .legenda_profile {
        width: 13%;
        left: 62rem;
        bottom: 13rem;
    }

    .flex-container {
        overflow: auto;
        height: 75%;
        display: block;
    }
}

/* media query para deixar o site responsivo para tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .profile_info {
        width: 30%;
    }

    .profile_settings {
        width: 15%;
    }

    .flex-container {
        margin-top: 3rem;
        margin-left: 15rem;
        margin-right: 0;
        margin-bottom: 7rem;
        width: 60%;
        height: 82%;
        overflow: auto;
        display: block;
    }

    .legenda_profile {
        margin-left: 22rem;
        width: 27%;
        font-size: 20px;
    }

    .rectangle1 {
        width: 26px;
        height: 15px;
    }

    .rectangle2 {
        width: 26px;
        height: 15px;
    }
}

/* media query para deixar o site responsivo para telemovel*/
@media (min-width: 320px) and (max-width: 480px) {
    .profile_settings {
        width: 17%;
        top: 58%;
    }

    .profile_info {
        width: 30%;
    }

    .flex-container {
        margin-top: 1rem;
        margin-left: 8rem;
        margin-right: 0;
        margin-bottom: 7rem;
        width: 57%;
        height: 77%;
        overflow: auto;
        display: block;
    }

    .legenda_profile {
        margin-left: 8rem;
        width: 45%;
    }

    h1 {
        font-size: larger;
    }

    p {
        font-size: small;
    }

}